
.seatfloor {
	background-color: #eee;
    padding-top: 20px;
    border-radius: 30px 30px 0 0;
}

.seat {
	width: 28px;
	height: 27px;
	border-radius: 4px 4px 8px 8px;
	background: #cc1f2f;
	background: linear-gradient(#cc1f2f 0%, #cc1f2f 70%, #000 70%, #cc1f2f 77%);
	position: relative;
	border: 1px solid #000;
	margin: 3px;
	display: inline-block;
	color: lightgray !important;
	margin: 10px auto;
}

/* .seat:hover {
	transform: scale(1.2);
} */

.seat:after,
.seat:before {
	content: '';
	display: block;
	width: 7px;
	height: 24px;
	position: absolute;
	background: linear-gradient(#cc1f2f 0%, #cc1f2f 70%, #000 70%, #cc1f2f 77%);
	border-radius: 4px;
	border: 1px solid #000;
	bottom: 5.5px;
}

.seat:before {
	left: -4.4px;
}

.seat:after {
	right: -4.4px;
}

.seat.notvacant {
	background: #ccc;
	background: linear-gradient(#ccc 0%, #ccc 70%, #000 70%, #ccc 77%);
}

.seat.notvacant:before,
.seat.notvacant:after {
	background: #ccc;
}

.space {
	width: 66px;
	display: inline-block;
}

.seatSelected,
.seatSelected:after,
.seatSelected:before {
	background: linear-gradient(lightskyblue 0%, lightskyblue 70%, #000 70%, lightskyblue 77%);
	color: dimgray !important;
}

.seatOccupied,
.seatOccupied:after,
.seatOccupied:before {
	background: linear-gradient(gray 0%, gray 70%, #000 70%, gray 77%);
	cursor: default;
}

.seat:not(.seatOccupied):hover,
.seat:not(.seatOtherOccupied):hover {
	cursor: pointer;
	transform: scale(1.2);
}


.seat.seatOccupied {
	cursor: default;
	transform: scale(1);
}
.seat.seatOccupied:hover {
	cursor: default;
	transform: scale(1);
}