/* 

.stage {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 8px;
	font-size: 14px;
	color: gray;
	width: 100%;
	height: 75px;
	margin-bottom: 15px;
	border-radius: 50px;
	border-bottom: 2px solid gray;
	border-top: 0px;
  }
  
  .seat {
	background-color: #ffffff;
    color: #696969;
    height: 45px;
    width: 100%;
    margin: 10px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    outline: none;
  }
  
  .seat:hover {
	transform: scale(1.2);
  }
  
  .seatVip {
	background-color: lightpink;
  }
  
  .seatSelected {
	background-color: lightskyblue;
	outline: none;
  }
  
  .seatOccupied {
	background-color: #a9a9a9;
	cursor: default;
  }
  
  .seatOtherOccupied {
	background-color: darkorange;
	cursor: default;
  }
  
  .seatUserOccupied {
	background-color: lightseagreen;
	transform: scale(1.2);
	box-shadow: -1px 2px 12px -4px #000;
  }
  
   .seat:not(.seatOccupied):hover,
  .seat:not(.seatOtherOccupied):hover {
	cursor: pointer;
	transform: scale(1.2);
  } 
  
  
  .seat.seatOccupied {
	cursor: default;
	transform: scale(1);
  }
  
  .seat.seatOtherOccupied {
	cursor: default;
	transform: scale(1);
  }
  
  .showcase {
	display: flex;
	list-style-type: none;
	padding: 5px 10px;
	border-radius: 5px;
	color: #777;
  }
  
  .showcase li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
  }
  
  .showcase li small {
	margin-left: 2px;
  }

  
   */

.seat {
	width: 39.6px;
	height: 44px;
	border-radius: 4px 4px 8px 8px;
	background: #cc1f2f;
	background: linear-gradient(#cc1f2f 0%, #cc1f2f 70%, #000 70%, #cc1f2f 77%);
	position: relative;
	border: 1px solid #000;
	margin: 3px;
	display: inline-block;
	color: lightgray !important;
	margin: 10px auto;
}

/* .seat:hover {
	transform: scale(1.2);
} */

.seat:after,
.seat:before {
	content: '';
	display: block;
	width: 7.3333333333px;
	height: 24.4444444444px;
	position: absolute;
	background: linear-gradient(#cc1f2f 0%, #cc1f2f 70%, #000 70%, #cc1f2f 77%);
	border-radius: 4px;
	border: 1px solid #000;
	bottom: 5.5px;
}

.seat:before {
	left: -4.4px;
}

.seat:after {
	right: -4.4px;
}

.seat.notvacant {
	background: #ccc;
	background: linear-gradient(#ccc 0%, #ccc 70%, #000 70%, #ccc 77%);
}

.seat.notvacant:before,
.seat.notvacant:after {
	background: #ccc;
}

.space {
	width: 66px;
	display: inline-block;
}

.seatSelected,
.seatSelected:after,
.seatSelected:before {
	background: linear-gradient(lightskyblue 0%, lightskyblue 70%, #000 70%, lightskyblue 77%);
	color: dimgray !important;
}

.seatOccupied,
.seatOccupied:after,
.seatOccupied:before {
	background: linear-gradient(darkgray 0%, darkgray 70%, #000 70%, darkgray 77%);
	cursor: default;
}

.seat:not(.seatOccupied):hover,
.seat:not(.seatOtherOccupied):hover {
	cursor: pointer;
	transform: scale(1.2);
}


.seat.seatOccupied {
	cursor: default;
	transform: scale(1);
}
.seat.seatOccupied:hover {
	cursor: default;
	transform: scale(1);
}